<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.alt236.btlescan">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.DeviceDetailsActivity"
            android:label="@string/app_name" />
        <activity android:name=".activities.DeviceControlActivity" />

        <service
            android:name=".services.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ShowlistbeaconActivity"
            android:label="List Of Objects" />
        <activity android:name=".activities.StartAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NearbybeaconActivity"
            android:label="@string/title_activity_nearbybeacon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddbeaconActivity"
            android:label="Add Objects"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AddBeaconDetailsMainActivity"
            android:label="Add Infomation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ScanBeaconActivity"
            android:label="Find Objects"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ShowInfoActivity"
            android:label="@string/title_activity_show_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MainIntroActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.CategoryActivity" />
        <activity
            android:name=".activities.SearchbyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ShowlistroomActivity"
            android:label="Show Room"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ShowallinfoActivity"
            android:label="@string/title_activity_showallinfo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Addbeaconq"
            android:label="@string/title_activity_addbeaconq"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.TestImages"></activity>
        <activity android:name=".activities.DisplayImage"></activity>
    </application>

</manifest>